.ContentCards {
  &__card {
    flex-direction: column;
    height: 100%;
  }
}

.slick-prev {
  left: 0px;
  z-index: 1;
}

.slick-next {
  right: 0px;
  z-index: 1;
}

.tagHover {
  cursor: pointer;
  margin: 0 10px 7px;
}
